BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=generate-a-random-secret
ADMIN_TELEGRAM_ID=
WELCOME_MEDIA_FILE_ID=
WELCOME_MEDIA_URL=
WELCOME_MEDIA_TYPE=photo
MINI_APP_URL=https://shmit11.github.io/shmit-glass-hub/
VPN_BOT_URL=https://t.me/SHMIT_VPN2_bot
STEAM_BOT_URL=https://t.me/SHMIT_PAY_BOT
STARS_BOT_URL=https://t.me/SHMIT_PAY_BOT
PREMIUM_BOT_URL=https://t.me/SHMIT_PAY_BOT
